.container {
    width: auto;
    position: relative;
    perspective: 1000px;
}

.front {
    width: 10.5em;
    height: 6em;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    backface-visibility: hidden;
    background-color: blue;
}

.back {
    width: 10.5em;
    height: 6em;
    position: absolute;
    backface-visibility: hidden;
    top:0;
    left:0;
    z-index: 0;
    background-color: red;
}

.flip-anim {
    transform: rotateY(180deg);
}